/* Message Input Container */
.message-input-container {
    height: 62px;
    background-color: var(--bg-color-sidebar);
    padding: 5px 16px;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    position: relative;
    color: var(--text-primary);
}

.emoji-picker-wrapper {
    position: absolute;
    bottom: 65px;
    left: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.active-emoji-btn {
    color: var(--active-tab-marker) !important; /* Force green/active color */
}

.message-form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.message-input {
    flex-grow: 1;
    padding: 9px 12px;
    margin: 5px 0;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--search-bg);
    font-size: 15px;
    outline: none;
    min-height: 20px;
    max-height: 100px;
    resize: none;
    color: var(--text-primary);
}



.input-icon-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #54656f;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-btn {
    color: #54656f; 
}
