* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    overflow: hidden; /* Prevent body scroll, handle in app */
}

/* hover:
#1d1f1f
#343636

color verde #21c063
para notificaciones pop (cicular con letra interna transparent)

*/